# Pandas Reference Document
## Topics Covered:
1. Getting data and naming columns
2. Observing dataframe
3. Stats & Sorting
4. Slicing
5. Filtering
6. Iterating (eww)

In [1]:
### Import Box
import numpy as np
import pandas as pd
import sys

In [2]:
### Get data and name columns

path_to_file = '../data/12-2019.csv'

df = pd.read_csv(path_to_file) # Reading the csv
df.columns = ['date', 'transactionERROR', 'debit', 'credit', 'account'] # Resetting columns
# Fixing one column: 
df.rename(columns={'transactionERROR':'transaction'}, inplace = True)

ValueError: Length mismatch: Expected axis has 8 elements, new values have 5 elements

In [38]:
### Observing the dataframe

df.head() # first 5
df.tail(3) # last 3
df.values # returns an array of all values.
df.dtypes # returns the datatypes of each column
df.index # index (default is just a number 0...length). Gives you the start, stop, and step.
cols = df.columns # gives you the columns. Output is a Pandas `Index`, but can easily be made into a list.

In [39]:
### Statistics on the data & Sorting

df.describe() # Returns dataframe of stats on the data (non-object data)
    # count: umber of non-empty entries in float columns.
    # Mean, standard distribution, minimum, 25%, 50%, 75%, and max. 

df.sort_values('debit', ascending = False).head(3)
    # Returns sorted dataframe. 
    # First argument is the column to sort by.
    # Second argument is optional to specify `ascending` as True/False

,date,transaction,debit,credit,account
9,2019-12-23,"THE SOUND POST TORONTO, ON",137.80,NaN,4505********2860
56,2019-12-04,"BELL CANADA (OB) MONTREAL, QC",135.54,NaN,4505********2860
34,2019-12-13,"EMOTIV 4155253149, CA 99.00 USD @ 1.352626",133.91,NaN,4505********2860

In [40]:
### Slicing Data

# 1. Get single column of data: 
df.date 
df['date']

# 2. Get range of rows:
df[2:4] # non-inclusive of upper bound

# 3. Get multiple columns at once:
df[['transaction', 'debit']]
    # Remember to have a nested list!
    
df.loc[:, ['transaction', 'debit']]

# 4. Specifying column AND row ranges
df.loc[2:4, ['transaction', 'credit']] # Need to use loc for specifying columns by name

df.iloc[2:4, [1,2]] # Need to use iloc for referencing columns by index

                                         transaction  debit
2  ADOBE *800-833-6687 800-833-6687, CA 33.89 USD...  45.81
3                  Amazon.ca*063SZ99G3 AMAZON.CA, ON  10.49

In [41]:
### Filtering Data
print('Most expensive debit transactions:')
print(df[df['debit'] > 0].sort_values('debit', ascending=False).head())


print('Uber Rides: ')
print(df[df['transaction'].isin(['UBER BV HELP.UBER.COM'])])

Most expensive debit transactions:
          date                                 transaction   debit  credit  \
9   2019-12-23                  THE SOUND POST TORONTO, ON  137.80     NaN
56  2019-12-04               BELL CANADA (OB) MONTREAL, QC  135.54     NaN
34  2019-12-13  EMOTIV 4155253149, CA 99.00 USD @ 1.352626  133.91     NaN
1   2019-12-27           Amazon.ca*M187Y10O1 AMAZON.CA, ON  118.64     NaN
25  2019-12-16                       UBER BV HELP.UBER.COM   81.03     NaN

             account
9   4505********2860
56  4505********2860
34  4505********2860
1   4505********2860
25  4505********2860
Uber Rides:
          date            transaction  debit  credit           account
17  2019-12-20  UBER BV HELP.UBER.COM  17.48     NaN  4505********2860
18  2019-12-20  UBER BV HELP.UBER.COM  24.97     NaN  4505********2860
25  2019-12-16  UBER BV HELP.UBER.COM  81.03     NaN  4505********2860
51  2019-12-06  UBER BV HELP.UBER.COM  59.61     NaN  4505********2860
53  2019-12-06  UBER BV HELP.UBER.COM  25.52     NaN  4505********2860

In [24]:
### Iterating
cnt = 0
for index, row in df.iterrows():
    print(row)
    cnt+= 1
    if(cnt > 2):
        break

date                 2019-12-27
transaction       OVERLIMIT FEE
debit                        29
credit                      NaN
account        4505********2860
Name: 0, dtype: object
date                                  2019-12-27
transaction    Amazon.ca*M187Y10O1 AMAZON.CA, ON
debit                                     118.64
credit                                       NaN
account                         4505********2860
Name: 1, dtype: object
date                                                  2019-12-27
transaction    ADOBE *800-833-6687 800-833-6687, CA 33.89 USD...
debit                                                      45.81
credit                                                       NaN
account                                         4505********2860
Name: 2, dtype: object

In [36]:
### Adding a new column

df['category'] = 'null'
df.head(2)

,date,transaction,debit,credit,account,category
0,2019-12-27,OVERLIMIT FEE,29.00,NaN,4505********2860,null
1,2019-12-27,"Amazon.ca*M187Y10O1 AMAZON.CA, ON",118.64,NaN,4505********2860,null

In [44]:
### Dumping Data back to CSV

pd.to_csv(path_to_file)

AttributeError: module 'pandas' has no attribute 'to_csv'